<a ui-sref="admin.county.add" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span> Add</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>County</th>
            <th>Locations</th>
            <th></th>
        </tr>     
    </thead>
    <tbody>
        <tr ng-repeat="item in county.counties">
            <td>{{$index+1}}</td>
            <td>{{item.Name}}</td>
            <td>{{county.locToString(item.Locations)}}</td>           
            <td>
                <a ui-sref="admin.county.edit({id:item.Id})" title="Edit" role="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-pencil"></span>  </a>
                <a title="Delete" role="button" class="btn btn-xs btn-default" ng-click="county.remove(item.Id)"><span class="glyphicon glyphicon-remove"></span>  </a>
            </td>
        </tr>
    </tbody>
</table>